
<h1>Login</h1>
<% if flash[:errors] %>
    <div class="errors"><%= flash[:errors] %></div>
<% end %>
<% students =  User.all.select{|u| u.user_type == "student"}%>
<% mentors =  User.all.select{|u| u.user_type == "mentor"}%>
<strong>Random-Student: </strong><%= students.sample.email %> <br>
<strong>Random-Mentor: </strong><%= mentors.sample.email %><br> 
<%= form_tag sessions_path do %>

  <br>Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>
