<table>
	<tr>
		<% if logged_in? %>
		  <td class = 'button'><%= link_to "Profile", user_path(@user), :class => 'navbar-link' %> </td>
		  <td class = 'button'>	<%= button_to "Logout", session_path(current_user.id), method: "delete", :class => 'navbar-link' %></td>
		  <td class = 'button'>Logged in as: <strong><%= current_user.email %></strong>(<%= current_user.user_type %>) </td> 
		<% else %>
		  <td class = 'button'>	<%= link_to "Sign up", new_user_path, :class => 'navbar-link' %></td>
		  <td class = 'button'>	<%= link_to "Login", new_session_path, :class => 'navbar-link' %></td>
		<% end %>
	</tr>

</table>


