<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
 

<strong>Appointments:</strong>

 <% if @user.user_type == 'mentor' %>
    <% @user.mentor_sessions.each do |mentor_session| %>
  <ul>
    <li>
    Start time: <%= link_to mentor_session.start_time, user_appointment_path(@user.id,mentor_session.id) %>
      End time: <%= mentor_session.end_time %>
    </p>
    </li>
  </ul>
    <% end %>
  <% else %>
    <% @user.study_sessions.each do |study_session| %>
    <ul>
      <li>
      <p>Start time: <%= link_to study_session.start_time, user_appointment_path(@user.id,study_session.id) %>
        End time: <%= study_session.end_time %>
      </p>
      </li>
    </ul>
    <% end %>
  <% end %>



