<% open_sessions = Appointment.all.select{|apt| apt.student_id == nil} %>

<%= month_calendar events: Appointment.all do |date, appointments| %>
  <%= date %>

  <% appointments.each do |appointment| %>
    <div>
    	<br>
      <%= appointment.start_time.strftime("%I:%M%p") %>
      Mentor: <%= appointment.mentor.name %>
      Topic: <%= appointment.topic %>

	     <% if current_user.user_type == 'student' && open_sessions.include?(appointment) %>
	      <%= button_to "Signup", user_appointment_path(current_user.id, session.id), method: "put", :class => 'appointment'  %> 
      <% end %>
      <hr>
      <br> 
      <br>
    </div>
  <% end %>

<% end %>