
<div>
	<br>
	<div class="well">
		<strong>Title: </strong><%= @appointment.topic%><br>
		<strong>Mentor: </strong><%= @appointment.mentor.name %><br>
		<strong>Student:</strong> <%= @appointment.student.name if @appointment.student_id != nil%><br>	
	</div>
</div>
<br>
<br>



<div class="well">
	<strong>Feedbacks:</strong>
	<% @appointment.feedbacks.each do |feedback| %>
  		<ul>
    		<li><p><%= feedback.body %></p></li>
  		</ul>
	<% end %>
</div>
<br>
<br>
<br>

<% if @appointment.start_time.past? %>
	<%= render 'feedback/form' %>
  <% end %>
