
<div>

Title: <%= @appointment.topic%>
Mentor: <%= @appointment.mentor.name %>
Student: <%= @appointment.student.name if @appointment.student_id != nil%>	

</div>

<div>
	<strong>Feedback:</strong>
	<% @appointment.feedbacks.each do |feedback| %>
  	<ul>
    	<li><p><%= feedback.body %></p></li>
  	</ul>
	<% end %>

</div>>
	
<%= render 'feedback/form' %>
