<!DOCTYPE html>
<html>
	<head>
	  <title>MenMen</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"></script>
	</head>

	<body>
	<%= render 'partials/header' %>

	<%= yield %>

	</body>
</html>
