<!DOCTYPE html>
<html>
	<head>
	  <title>MenMen</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>

<<<<<<< HEAD
	<body>
	<%= render 'partials/header' %>
=======
	<div class="navbar-default">
		<nav class="nav">
	<ul>
		<li class="navbar-brand">home</li>
		<li>login</li>
		<li>logout</li>
	</ul>
</nav>

	</div>
	




<%= yield %>
>>>>>>> d74f438838681d3c14734aa7491c1a946779b3a1

	<%= yield %>

	</body>
</html>
